In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('hotel_bookings_data.csv', sep = ',')

In [3]:
df.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
90949,City Hotel,0,54,2018,August,24,11,2,1,2,...,0,No Deposit,138.0,NaN,0,Personal,85.0,0,0,Check-Out
1255,Resort Hotel,1,22,2017,October,34,21,2,4,2,...,0,No Deposit,240.0,NaN,0,Personal,191.0,0,3,Canceled
44254,City Hotel,0,164,2017,December,40,2,0,2,1,...,0,No Deposit,19.0,NaN,0,Family,100.0,0,0,Check-Out
114218,City Hotel,0,1,2019,August,25,18,1,0,2,...,0,No Deposit,NaN,NaN,0,Personal,150.0,0,1,Check-Out
60866,City Hotel,1,23,2018,January,48,24,1,3,2,...,0,No Deposit,9.0,NaN,0,Personal,79.2,0,0,Canceled

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

In [5]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_weekdays_nights               0
adults                                 0
children                               4
babies                                 0
meal                                   0
city                                 488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
dtype: int64

kolom children memiliki nilai null yang sedikit sehingga dapat dihilangkan.<br>
kolom company memiliki nilai null yang sangat banyak sehingga kolom company dapat di hilangan

In [6]:
df['agent'].value_counts()

agent
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
289.0        1
432.0        1
265.0        1
93.0         1
304.0        1
Name: count, Length: 333, dtype: int64

In [7]:
df['children'].value_counts()

children
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: count, dtype: int64

In [8]:
# mengisi nilai null pada kolom agent dan city dengan modus 
df['agent'].fillna(df['agent'].mode()[0], inplace = True)
df['city'].fillna(df['city'].mode()[0], inplace=True)

In [9]:
# menghapus kolom company dan nilai null pada kolom children

df.drop('company', axis = 1, inplace = True)
df.dropna(subset=['children'], inplace = True)

In [21]:
# mengganti tipe data pada kolom childern menjadi integer 

df['children'] = df['children'].astype(int)
df['children'].value_counts()

children
0     110796
1       4861
2       3652
3         76
10         1
Name: count, dtype: int64

In [11]:
df['meal'].value_counts()

meal
Breakfast     92306
Dinner        14463
No Meal       10650
Undefined      1169
Full Board      798
Name: count, dtype: int64

In [14]:
df['meal'].replace('Undefined', 'No Meal', inplace=True)

In [15]:
df['meal'].value_counts()

meal
Breakfast     92306
Dinner        14463
No Meal       11819
Full Board      798
Name: count, dtype: int64

In [45]:
df[(df['arrival_date_month'] == 'Februari') & (df['arrival_date_day_of_month'] == 30)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,...,previous_bookings_not_canceled,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
3267,Resort Hotel,1,133,2017,January,49,30,1,1,2,...,0,1,No Deposit,240.0,0,Personal,29.16,0,1,Canceled
3268,Resort Hotel,0,62,2017,January,49,30,1,3,2,...,0,0,No Deposit,250.0,0,Personal,83.60,1,1,Check-Out
3269,Resort Hotel,1,93,2017,January,49,30,1,5,2,...,0,0,No Deposit,240.0,0,Personal,32.40,0,2,Canceled
3270,Resort Hotel,1,91,2017,January,49,30,3,7,2,...,0,1,No Deposit,240.0,0,Personal,66.00,0,1,Canceled
9447,Resort Hotel,1,44,2018,January,49,30,0,1,1,...,0,0,No Deposit,9.0,0,Personal,0.00,0,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102737,City Hotel,0,42,2018,January,49,30,2,4,1,...,0,0,No Deposit,7.0,0,Personal,48.50,0,1,Check-Out
102742,City Hotel,0,31,2018,January,49,30,2,4,2,...,0,0,No Deposit,9.0,0,Personal,74.80,0,2,Check-Out
102784,City Hotel,0,43,2018,January,49,30,2,4,2,...,0,0,No Deposit,9.0,0,Personal,94.80,0,1,Check-Out
102803,City Hotel,0,29,2018,January,49,30,2,4,2,...,0,0,No Deposit,9.0,0,Personal,104.00,0,1,Check-Out
102804,City Hotel,0,6,2018,January,49,30,2,4,2,...,0,0,No Deposit,9.0,0,Personal,106.89,1,3,Check-Out

In [37]:
df.loc[(df['arrival_date_month'] == 'February') & (df['arrival_date_day_of_month'] == 30), 
'arrival_date_day_of_month'] = 28

In [42]:
df[(df['arrival_date_month'] == 'February') & (df['arrival_date_day_of_month'] == 29)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,...,previous_bookings_not_canceled,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
3644,Resort Hotel,1,75,2017,February,53,29,0,4,2,...,0,0,No Deposit,240.0,0,Personal,66.83,0,1,Canceled
3645,Resort Hotel,0,94,2017,February,53,29,2,7,2,...,0,0,No Deposit,241.0,0,Personal,73.70,0,1,Check-Out
3646,Resort Hotel,1,160,2017,February,53,29,2,8,2,...,0,1,No Deposit,240.0,0,Personal,62.88,0,2,Canceled
9720,Resort Hotel,1,16,2018,February,53,29,0,3,2,...,0,0,No Deposit,240.0,0,Personal,97.67,0,1,Canceled
9721,Resort Hotel,1,64,2018,February,53,29,0,3,2,...,0,0,No Deposit,250.0,0,Personal,65.40,0,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103986,City Hotel,0,269,2018,February,53,29,2,3,1,...,0,0,No Deposit,12.0,0,Family,70.00,0,0,Check-Out
103987,City Hotel,0,269,2018,February,53,29,2,3,1,...,0,0,No Deposit,12.0,0,Family,70.00,0,1,Check-Out
103988,City Hotel,0,269,2018,February,53,29,2,3,2,...,0,2,No Deposit,12.0,0,Family,80.00,0,0,Check-Out
104002,City Hotel,0,249,2018,February,53,29,2,3,1,...,0,0,No Deposit,15.0,0,Personal,53.45,0,1,Check-Out
104044,City Hotel,0,42,2018,February,53,29,2,5,2,...,0,0,No Deposit,14.0,0,Personal,146.29,0,0,Check-Out

In [43]:
df.loc[(df['arrival_date_month'] == 'February') & (df['arrival_date_day_of_month'] == 29), 
       'arrival_date_day_of_month'] = 28

In [46]:
df[(df['arrival_date_month'] == 'February') & (df['arrival_date_day_of_month'] == 31)]

In [ ]:
df.loc[(df['arrival_date_month'] == 'February') & (df['arrival_date_day_of_month'] == 31), 
       'arrival_date_day_of_month'] = 28

In [49]:
df[(df['arrival_date_month'] == 'September') & (df['arrival_date_day_of_month'] == 31)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,...,previous_bookings_not_canceled,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
814,Resort Hotel,0,42,2017,September,31,31,0,0,1,...,0,0,No Deposit,142.0,0,Contract,0.0,0,0,Check-Out
815,Resort Hotel,0,46,2017,September,31,31,0,0,2,...,0,0,No Deposit,240.0,0,Personal,0.0,1,0,Check-Out
816,Resort Hotel,0,0,2017,September,31,31,0,1,2,...,0,0,No Deposit,9.0,0,Personal,188.0,0,0,Check-Out
817,Resort Hotel,1,25,2017,September,31,31,0,1,2,...,0,0,No Deposit,240.0,0,Personal,153.0,0,2,Canceled
818,Resort Hotel,1,16,2017,September,31,31,0,1,2,...,0,0,No Deposit,240.0,0,Personal,173.0,0,3,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117642,City Hotel,0,174,2019,September,31,31,2,5,2,...,0,0,No Deposit,28.0,0,Personal,80.1,0,0,Check-Out
117715,City Hotel,0,125,2019,September,31,31,3,6,2,...,0,0,No Deposit,9.0,0,Personal,193.0,0,0,Check-Out
117737,City Hotel,0,158,2019,September,31,31,3,6,2,...,0,0,No Deposit,9.0,0,Family,112.5,0,1,Check-Out
117772,City Hotel,0,158,2019,September,31,31,3,6,3,...,0,0,No Deposit,9.0,0,Family,132.5,0,1,Check-Out
117829,City Hotel,0,203,2019,September,31,31,3,7,3,...,0,0,No Deposit,9.0,0,Personal,170.0,0,1,Check-Out

In [50]:
df.loc[(df['arrival_date_month'] == 'September') & (df['arrival_date_day_of_month'] == 31), 
       'arrival_date_day_of_month'] = 30

In [52]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_weekdays_nights', 'adults', 'children', 'babies', 'meal',
       'city', 'market_segment', 'distribution_channel', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'booking_changes', 'deposit_type', 'agent', 'days_in_waiting_list',
       'customer_type', 'adr', 'required_car_parking_spaces',
       'total_of_special_requests', 'reservation_status'],
      dtype='object')

In [57]:
#memilih kolom yang akan digunakan 
df_selected = df[['hotel', 'is_canceled', 'lead_time', 'arrival_date_year','arrival_date_month', 
                  'arrival_date_week_number','arrival_date_day_of_month', 'stays_in_weekend_nights',
                  'stays_in_weekdays_nights','meal','city', 'market_segment','distribution_channel', 
                  'is_repeated_guest','previous_cancellations', 'previous_bookings_not_canceled',
                  'booking_changes', 'deposit_type','customer_type', 'adr','reservation_status']]